@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-image: url("https://camo.githubusercontent.com/2a2dfb8b139de852f33a0a268fad5a1bf5ed32b459f3193fe296a26eb9a54e4d/68747470733a2f2f6c6976652e737461746963666c69636b722e636f6d2f36353533352f34393138353134393132325f333766356335326534335f6b2e6a7067");
    backdrop-filter: blur(4px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-center{
    align-items: center;
    display: flex;
}

.button-danger {
    padding: 0.2rem 0.8rem;
    background: #ec8484;
    margin: 0.2rem;
    border-radius: 15px;
}

.button-success {
    padding: 0.2rem 0.8rem;
    background: #519161;
    margin: 0.2rem;
    border-radius: 15px;
}